.admin-container {
    display: flex;
    min-height: 100vh;
    transition: all 0.3s ease;
  }
  
  app-sidebar {
    display: block;
    height: 100vh;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .admin-content {
    flex: 1;
    padding: 20px;
    transition: all 0.3s ease;
    margin-left: 250px; /* Largeur initiale du sidebar */
  }
  
  .admin-content.collapsed {
    margin-left: 70px; /* Largeur lorsque le sidebar est réduit */
  }