<div class="header-carousel owl-carousel">
  <div class="header-carousel-item">
    <img src="img/conf3.jpeg" class="img-fluid w-100" alt="Image" />
    <div class="carousel-caption">
      <div class="container align-items-center py-4">
        <div class="row g-5 align-items-center">
          <div class="text-start">
            <h4
              class="text-white text-uppercase fw-bold mb-3 animate__animated animate__fadeInDown"
            >
              Discover Events That Matter
            </h4>
            <h1
              class="display-3 text-white fw-bold mb-4 animate__animated animate__fadeInUp"
            >
              Welcome to <span class="text-primary">Eventi</span>
            </h1>

            <p class="mb-4 fs-5">
              Whether you're into tech, music, business or art, Eventi connects
              you to the best experiences near you. Explore, discover, and join
              vibrant communities today.
            </p>
            <div class="d-flex justify-content-center">
              <a
                class="btn btn-primary rounded-pill text-white py-3 px-5"
                href="#"
                >See Events</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
